<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Términos legales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p class="info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Magnam similique delectus possimus dicta vero ex voluptatum nihil atque, 
    minima ad aperiam illum velit reprehenderit placeat accusamus hic quidem enim unde!
  
  
  
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iste est quam iure suscipit architecto ad, odio debitis voluptas voluptatum incidunt illo pariatur nemo dolorum aliquid, placeat beatae quo. Iure!</p>
</ion-content>
