<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrar">

  <ion-grid >
    <form>
      <ion-item lines="full">
        <ion-label position="floating">E-Mail o Usuario</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>

      <ion-row class="">
        <ion-col>
          <ion-button type="submit" color="dark" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>

      <p class="info">
        Por favor, suministranos el E-Mail o el nombre de usuario que usaste cuando te registraste en Tarab Music.
      </p>
    </form>
  </ion-grid>
  
</ion-content>
