<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="musica">
      <ion-icon name="mic-circle"></ion-icon>
      <ion-label>MUSICA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baile">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>BAILE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="business"></ion-icon>
      <ion-label>PRODUCTORAS</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>MI PERFIL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


