	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-activated:before { content: "\f100"; }
.flaticon-alarm:before { content: "\f101"; }
.flaticon-attach:before { content: "\f102"; }
.flaticon-award:before { content: "\f103"; }
.flaticon-back:before { content: "\f104"; }
.flaticon-birghtness:before { content: "\f105"; }
.flaticon-block:before { content: "\f106"; }
.flaticon-bluetooth:before { content: "\f107"; }
.flaticon-button:before { content: "\f108"; }
.flaticon-button-1:before { content: "\f109"; }
.flaticon-calculator:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-check:before { content: "\f10c"; }
.flaticon-chronometer:before { content: "\f10d"; }
.flaticon-closed:before { content: "\f10e"; }
.flaticon-cloudy:before { content: "\f10f"; }
.flaticon-connectivity:before { content: "\f110"; }
.flaticon-copy:before { content: "\f111"; }
.flaticon-credit-card:before { content: "\f112"; }
.flaticon-desactivate:before { content: "\f113"; }
.flaticon-desativated:before { content: "\f114"; }
.flaticon-division:before { content: "\f115"; }
.flaticon-double-checking:before { content: "\f116"; }
.flaticon-download-from-cloud:before { content: "\f117"; }
.flaticon-eliminar:before { content: "\f118"; }
.flaticon-email:before { content: "\f119"; }
.flaticon-empty:before { content: "\f11a"; }
.flaticon-equal:before { content: "\f11b"; }
.flaticon-exclamation-button:before { content: "\f11c"; }
.flaticon-express:before { content: "\f11d"; }
.flaticon-favorite:before { content: "\f11e"; }
.flaticon-finger-prints:before { content: "\f11f"; }
.flaticon-full-battery:before { content: "\f120"; }
.flaticon-gamepad:before { content: "\f121"; }
.flaticon-go:before { content: "\f122"; }
.flaticon-half-battery:before { content: "\f123"; }
.flaticon-high-volume:before { content: "\f124"; }
.flaticon-home:before { content: "\f125"; }
.flaticon-hour:before { content: "\f126"; }
.flaticon-image:before { content: "\f127"; }
.flaticon-ipad:before { content: "\f128"; }
.flaticon-iphone:before { content: "\f129"; }
.flaticon-like:before { content: "\f12a"; }
.flaticon-link:before { content: "\f12b"; }
.flaticon-look:before { content: "\f12c"; }
.flaticon-low-battery:before { content: "\f12d"; }
.flaticon-low-volume:before { content: "\f12e"; }
.flaticon-mailbox:before { content: "\f12f"; }
.flaticon-man:before { content: "\f130"; }
.flaticon-map:before { content: "\f131"; }
.flaticon-meat:before { content: "\f132"; }
.flaticon-medium:before { content: "\f133"; }
.flaticon-medium-volume:before { content: "\f134"; }
.flaticon-menu:before { content: "\f135"; }
.flaticon-message:before { content: "\f136"; }
.flaticon-microphone:before { content: "\f137"; }
.flaticon-minimal:before { content: "\f138"; }
.flaticon-moon:before { content: "\f139"; }
.flaticon-multiply:before { content: "\f13a"; }
.flaticon-music-note:before { content: "\f13b"; }
.flaticon-mute:before { content: "\f13c"; }
.flaticon-open-book:before { content: "\f13d"; }
.flaticon-paper-boat:before { content: "\f13e"; }
.flaticon-photo-camera:before { content: "\f13f"; }
.flaticon-placeholder:before { content: "\f140"; }
.flaticon-play-button:before { content: "\f141"; }
.flaticon-plug:before { content: "\f142"; }
.flaticon-plus:before { content: "\f143"; }
.flaticon-prohibition:before { content: "\f144"; }
.flaticon-push-pin:before { content: "\f145"; }
.flaticon-rain:before { content: "\f146"; }
.flaticon-right-arrow:before { content: "\f147"; }
.flaticon-ruler:before { content: "\f148"; }
.flaticon-screen:before { content: "\f149"; }
.flaticon-screw:before { content: "\f14a"; }
.flaticon-search:before { content: "\f14b"; }
.flaticon-send:before { content: "\f14c"; }
.flaticon-settings:before { content: "\f14d"; }
.flaticon-share:before { content: "\f14e"; }
.flaticon-shop:before { content: "\f14f"; }
.flaticon-shopping-cart:before { content: "\f150"; }
.flaticon-subtraction:before { content: "\f151"; }
.flaticon-sun:before { content: "\f152"; }
.flaticon-sun-1:before { content: "\f153"; }
.flaticon-tag:before { content: "\f154"; }
.flaticon-text:before { content: "\f155"; }
.flaticon-tray:before { content: "\f156"; }
.flaticon-unblocked:before { content: "\f157"; }
.flaticon-update:before { content: "\f158"; }
.flaticon-upload-to-cloud:before { content: "\f159"; }
.flaticon-usb:before { content: "\f15a"; }
.flaticon-user:before { content: "\f15b"; }
.flaticon-van:before { content: "\f15c"; }
.flaticon-vegetable:before { content: "\f15d"; }
.flaticon-vigilance:before { content: "\f15e"; }
.flaticon-wifi-signal:before { content: "\f15f"; }
.flaticon-woman:before { content: "\f160"; }
.flaticon-worker:before { content: "\f161"; }
.flaticon-world:before { content: "\f162"; }
.flaticon-writing:before { content: "\f163"; }